@mixin button {
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    margin: 4px 0 !important;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    text-transform: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    svg {
        color: white;
    }

    &.button-white {
        svg {
            color: black;
        }
    }
}

@mixin button-green {
    color: white !important;
    background-color: #1ab11f !important;
}

@mixin button-blue {
    color: white !important;
    background-color: #1a81b1 !important;
}

@mixin button-orange {
    color: white !important;
    @apply bg-orange-500 hover:bg-orange-500;
}

@mixin button-white {
    color: black !important;
    background-color: #E0E7F2;
    @apply shadow-md;
}

.blue-link-light {
    @apply text-blue-400 inline-block;
    transition: transform 0.2s ease;

    &.red-link-light {
        @apply text-red-400;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.blue-link {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    @apply text-blue-400 shadow-lg inline-block;

    &:hover {
        @apply bg-blue-100 text-blue-600;
        transform: scale(1.1);
    }
}

.button-link {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    @apply text-gray-800;

    &:hover {
        @apply bg-blue-100 text-blue-600;
        transform: scale(1.1);
    }
}

.button-blue {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    @apply bg-blue-100 text-blue-600;
    @apply shadow-lg;

    &:hover {
        transform: scale(1.1);
        @apply bg-blue-300 text-blue-100;
    }
}

.button-red {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    @apply text-red-100 bg-red-600;
    @apply shadow-lg;

    &:hover {
        transform: scale(1.1);
        @apply bg-red-400;
    }
}
