@reference "tailwindcss";

.gridContainer {
    display: grid;
    gap: 1rem;
    margin-bottom: 10px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.cardShadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    border-radius: 0.75rem;
    transition: box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        @apply hover:bg-gray-200 dark:hover:bg-gray-700;
    }
}

.cardInnerTitle {
    @apply flex items-center gap-2;

    .cardInactive {
        @apply line-through text-gray-300;
    }
}

.bookHeader {
    @apply flex justify-between gap-4 flex-col sm:flex-row mb-3;
    margin-top: -20px;
}

.dateContainer {
    @apply mb-6;

    .dateHeader {
        @apply text-xl font-semibold text-yellow-400 mt-2;
    }

    .dateTimestamp {
        @apply inline-block text-xs mb-4;
    }
}

.cardTitle {
    font-size: 1.125rem;
    font-weight: 700;
}

.cardDescription {
    font-size: 0.875rem;
    color: #6b7280;
}

.cardContent {
    margin-top: 0.5rem;
}

.sectionContainer {
    margin-bottom: 1rem;
}

.sectionTitle {
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

.list {
    font-size: 0.875rem;
    color: #4b5563;
    list-style-type: disc;
    padding-left: 1.25rem;
}

.noContent {
    font-size: 0.875rem;
    color: #9ca3af;
}

.noProviders {
    color: #6b7280;
}

/* CRUD Buttons */
.editButton {
    background-color: #3b82f6;
    /* blue-500 */
    color: white;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;

    &:hover {
        background-color: #2563eb;
        /* blue-600 */
    }
}

.deleteButton {
    background-color: #ef4444;
    /* red-500 */
    color: white;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;

    &:hover {
        background-color: #dc2626;
        /* red-600 */
    }
}

.workingHourItem {
    margin-bottom: 0.25rem;
}

.serviceItem {
    margin-bottom: 0.25rem;
}

.gridContainerLoading,
.dateContainerLoading {
    .cardShadow {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Dark Mode */
    @media (prefers-color-scheme: dark) {

        .cardTitle,
        .cardDescription,
        .sectionTitle,
        .workingHourItem,
        .dateHeader,
        .dateTimestamp,
        .cardInnerTitle {
            background: linear-gradient(to right, #6e6e6e 20%, #8c8c8c 40%, #6e6e6e 60%);
            /* Darker and more contrast */
            background-size: 200% 100%;
            animation: leftToRight 1s linear infinite;
        }
    }

    .cardTitle,
    .cardDescription,
    .sectionTitle,
    .workingHourItem,
    .dateHeader,
    .dateTimestamp,
    .cardInnerTitle {

        /* Light Mode */
        @media (prefers-color-scheme: light) {
            background: linear-gradient(to right, #c9c8c8 20%, #e8e8e8 40%, #c9c8c8 60%);
            background-size: 200% 100%;
            animation: leftToRight 1s linear infinite;
        }

        // Use a transparent-to-transparent gradient for the text
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    /* Dark Mode */
    @media (prefers-color-scheme: dark) {
        .editButton {
            background: linear-gradient(to right, #4a4a4a 20%, #666666 40%, #4a4a4a 60%);
            background-size: 200% 100%;
            animation: leftToRight 1s linear infinite;
        }
    }

    @media (prefers-color-scheme: light) {
        .editButton {
            background: linear-gradient(to right, #c9c8c8 20%, #e8e8e8 40%, #c9c8c8 60%);
            background-size: 200% 100%;
            animation: leftToRight 1s linear infinite;
        }
    }
}

@keyframes leftToRight {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
